<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>ZtyZh2K9tt4JLRmlA0TvcdtHtrwlCQkAXMKJgx2jix27OviIlHsx4NGS1nn3OnYN5v9v3niuEpt2UaKUDdC9cw%3D%3D</string>
</dict>
</plist>
